body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #FFCE45;
    margin-bottom: 30px;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
    object-fit: cover;
}

.card-title a,
.card-subtitle a {
    text-decoration: none;
    color: #000;
}

.card-title a:hover,
.card-subtitle a:hover {
    text-decoration: none;
    color: #000;
}

.card-text {
    margin-top: 20px;
}

.text {
    color: #000;
    background-color: #FFCE45;
}

.mb-2 span {
    font-weight: bold;
    color: #000;
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item > .page-link {
    color: #f57c00;
    background-color: transparent;
    border: none;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: transparent;
    border: none;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #f57c00;
    border: none;
}

.pagination .page-link:hover {
    color: #fff;
    background-color: #e65100;
    border: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 0;
}

.btn-register {
    color: #fff;
    background-color: #FFCE45;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background-color: #e65100;
    color: #fff;
    text-decoration: none;
}

.btn-container {
    text-align: center;
    margin-top: 30px;
}
header {
    background-color: #FFCE45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
header .left, header .right {
    display: flex;
    align-items: center;
}
header .right a {
    margin-left: 15px;
    font-size: 16px;
}
 header .left img {
    max-height: 50%;
    max-width: 50%;
    margin-top : 5px;
    vertical-align: middle;
}
.header-slider {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.search-box {
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 25px;
    overflow: hidden;
}
.search-box input {
    border: none;
    border-radius: 0;
    padding: 20px;
    width: 75%;
}
.search-box button {
    border: none;
    border-radius: 0;
    background-color: white;
    color: #FFCE45;
    padding: 0 30px;
    font-size: 20px;
}
.search-box button:hover {
    background-color: white;
}
