/* 전체 폼 컨테이너 */
.container {
    max-width: 600px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h5 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

/* 입력 필드 스타일 */
.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 파일 업로드 버튼 스타일 */
input[type="file"].form-control {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
}


/* 저장하기 버튼 스타일 */
.btn-primary {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FFCE45;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #ff6900;
}

/* 반응형 디자인 */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}