/* 검색*/
body {
    background-color: white;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.search-box {
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 25px;
    overflow: hidden;
}
.search-box input {
    border: none;
    border-radius: 0;
    padding: 20px;
    width: 75%;
}
.search-box button {
    border: none;
    border-radius: 0;
    background-color: white;
    color: #ff6600;
    padding: 0 30px;
    font-size: 20px;
}
.search-box button:hover {
    background-color: white;
}

/*게시물*/

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 30px;
    height: 90%;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px; /* 이미지 높이 고정 */
    object-fit: cover; /* 이미지 크기를 고정하여 맞춤 */
}

.card-title a,
.card-subtitle a {
    text-decoration: none;
    color: #000; /* 글자색을 검정으로 설정 */
}

.card-title a:hover,
.card-subtitle a:hover {
    text-decoration: none; /* 마우스를 올렸을 때도 밑줄이 생기지 않도록 설정 */
    color: #000; /* Hover 시에도 글자색을 검정으로 유지 */
}

.card-text {
    margin-top: 20px;
}

.mb-2 span {
    font-weight: bold;
    color: #000;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; /* 검색창과 게시물 사이의 간격 조정 */
}

/*이모티콘(작성자)*/

.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px; /* Adjust size as needed */
    height: 36px; /* Adjust size as needed */
    background-color: #e9ecef; /* Light gray background */
    border-radius: 50%; /* Makes the container circular */
    font-size: 18px; /* Adjust icon size */
    margin-right: 5px; /* 아이콘과 유저 이름 사이 여백 설정 */
}
.icon-circle i {
    color: #495057; /* Icon color */
}
.username {
    font-size: 0.8rem; /* 작은 텍스트 사이즈 */
    color: #555; /* 텍스트 색상 */
}
.icon-circle:hover .username {
    color: #000; /* 마우스 오버 시 텍스트 색상 변경 */
}

/*페이징*/

.pagination {
    margin-top: 20px;
}

.pagination .page-item > .page-link {
    color: #f57c00; /* 주황색 */
    background-color: transparent;
    border: none;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* 회색 */
    background-color: transparent;
    border: none;
}

.pagination .page-item.active .page-link {
    color: #fff; /* 흰색 */
    background-color: #f57c00; /* 주황색 */
    border: none;
}

.pagination .page-link:hover {
    color: #fff; /* 흰색 */
    background-color: #e65100; /* 진한 주황색 */
    border: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 0;
}

/*질문등록*/

.btn-blog {
    color: #495057; /* 주황색 텍스트 */
    background-color: transparent; /* 배경을 투명하게 설정 */
    border: 2px solid #f57c00; /* 주황색 테두리 */
    transition: background-color 0.3s ease;
    display: inline-block; /* 인라인 블록 요소로 설정하여 너비가 컨텐츠에 맞게 조정됨 */
    padding: 10px 20px; /* 내부 여백 설정 */
    text-decoration: none; /* 링크 텍스트의 밑줄 제거 */
}

.btn-blog:hover {
    background-color: #f57c00; /* 마우스 오버 시 배경을 주황색으로 변경 */
    color: #fff; /* 텍스트 색상을 흰색으로 변경 */
    text-decoration: none;
}



