<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <div class="d-flex justify-content-between w-100">
            <!-- Left side: Back button -->
            <div>
                <a href="javascript:history.back()" class="btn btn-link text-decoration-none">이전 화면으로 이동</a>
            </div>

            <!-- Center: Brand -->
            <div class="mx-auto">
                <a class="navbar-brand" href="/">밥먹다</a>
            </div>

            <!-- Right side: Login/Logout -->
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" href="javascript:;"
                           onClick="this.nextElementSibling.submit();">로그아웃</a>
                        <form sec:authorize="isAuthenticated()" th:action="@{/member/logout}" method="POST" hidden></form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
