<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daily Story</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/postStyle.css">
</head>
<body>
<div class="container my-3">
    <h2>밥먹다 Daily Story</h2>
    <!-- 게시물 섹션 -->
    <div class="row">
        <div th:each="post : ${paging}" class="col-md-4 mb-3">
            <div class="card">
                <img th:src="@{/file/{filename}(filename=${post.thumbnailImg})}" class="card-img-top" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href="@{/post/detail/{id}(id=${post.id})}" th:text="${post.title}" class="no-underline"></a>
                    </h5>
                    <p class="card-text">
                        작성자: <span th:text="${post.author.nickname}"></span> <br>
<!--                    <h5 class="mb-2">-->
<!--                        <a th:href="@{|/post/memberPosts/${post.author.nickname}|}" class="no-underline">-->
<!--                            작성자: <span class="icon-circle">-->
<!--                                <i class="fa-regular fa-user"></i>-->
<!--                            </span>-->
<!--                            <span class="nickname" th:text="$post.author.nickname}"></span>-->
<!--                        </a>-->
<!--                    </h5>-->
                        지역: <span th:text="${post.author.region}"></span> <br>
                        <small class="text-muted" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 게시물 등록 버튼 -->
    <div class="row my-3 btn-container">
        <div class="col-12">
            <a th:href="@{/post/create}" class="btn btn-register">게시물 등록하기</a>
        </div>
    </div>
</div>
</body>
</html>
